@import "../../variables";

.w5-sidebar {
  background-color: $sidebar-bg;
  height: 100%;
}

.active {
  color: red;
}

.logo {
  padding: 6px;
}

.ico-svg img {
  width: 32px;
}

.logo-img img {
  width: 32px;
}

.nav-ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 6px;

    a {
      color: $sidebar-color;
    }
  }
}

.link-description {
  margin-left: 6px;
}
