<div class="black-bar align-bottom">
  <div *ngIf="weatherResp$ | async" class="align-b ml-4 mb-3">{{ (weatherResp$ | async).city.name }} on a map.</div>
  <div *ngIf="!(weatherResp$ | async)" class="align-b ml-4 mb-3">No available forecast. Put a city name into the searcher.</div>
</div>

<div class="map-content">

  <app-weather-map *ngIf="isMapVisible && !(weatherResp$ | async)" ></app-weather-map>
  
  <ng-container *ngIf="(weatherResp$ | async)">
    <app-weather-map
      [longitude]="(weatherResp$ | async).city.coord.lon"
      [latitude]="(weatherResp$ | async).city.coord.lat"
    ></app-weather-map>
  </ng-container>

</div>
