<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" routerLink="/">{{getTitle()}}</a>
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
      <div>
        <app-weather-searcher></app-weather-searcher>
        <app-weather-page-nav-info></app-weather-page-nav-info>
      </div>
    </div>
  </div>
</nav>



<!--<div class="relative pt-1" *ngIf="temperature">-->
<!--  <i class="mr-2">{{ temperature }} &deg;C</i>-->
<!--  <i class="">{{ wind.speed }} m/s</i>-->
<!--</div>-->
