@import "../../variables";

.w5-sidebar {
  background-color: $sidebar-bg;
  height: 100%;
  max-width: 90vw;
  overflow: hidden;
}

.active {
  color: red;
}

.logo {
  padding: $margin-sm;
}

.ico-svg img {
  width: 32px;
}

.logo-img img {
  width: 32px;
}

.nav-ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: $margin-sm;

    a {
      display: block;
      color: $sidebar-color;
      width: 100%;
    }
  }

  .active {
    background-color: $sidebar-active-link-bg;
    color: $sidebar-active-link-color;
  }
}

.link-description {
  margin-left: $margin-sm;
}
