<div class="table-div">
  <table *ngIf="windForecast$ | async as windItems" class="table table-sm table-stripped table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Direction</th>
        <th>Speed [m/s]</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of windItems">
        <td>{{ item.date | noMs }}</td>
        <td>
          <app-arrow [rotate]="item.wind.deg"></app-arrow>
        </td>
        <td>{{ item.wind.speed }}</td>
      </tr>
    </tbody>
  </table>
</div>
