<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://www.flaticon.com">
            Icons taken from Flaticon
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/about-us">
            Used Creative Tim UI
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      <a href="https://github.com/eker247/weather5" target="_blank">Github repository.</a>
    </div>
  </div>
</footer>