/* You can add global styles to this file, and also import other style files */

.black-bar {
  position: relative;
  height: 90px;
  background: #222;
  color: #ddd;
}

.align-t {
  position: absolute;
  top: 0;
}

.align-b {
  position: absolute;
  bottom: 0;
}

.relative {
  position: relative;
}

.w-sm {
  width: 60px;
}

.weather-content-bg {
  height: 100%;
  background-color: #2c2c2c;
}

.table-div {
  margin: auto;
  max-width: 700px;
  text-align: center;
  min-height: calc(100vh - 159px);
}

.table-responsive {
  margin: auto;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
}
